
:root {
  font-family: 'Courier New', Courier, monospace;
  --ff-inter: 'Inter', sans-serif;
  --light-blue-100: #1fa37c;
  --dark-blue-300: #2b0b70;
  --gray-400: #261ce8;
  --gray-500: #b82a17;
  --white: #49dfcb;
}

* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-blue-100);
  font-family: var(--ff-inter);
}

.container {
  display: flex;
  flex-direction: column;
}

.main_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 9.6rem;
  margin-bottom: 5.6rem;
  position: relative;
}

.logo {
  width: 3.2rem;
  height: 4.8rem;
  position: absolute;
  top: 2.4rem;
  left: 1.6rem;
}

.form {
  margin-bottom: 6.4rem;
  padding: 1.6rem;
  text-align: center;
}

.form_frase {
  font-family: var(--ff-inter);
  height: 19rem;
  width: 34.3rem;
  font-size: 2.4rem;
  border: none;
  padding: 1.6rem;
  background-color: var(--light-blue-100);
  resize: none;
  margin-bottom: 6.4rem;
  caret-color: var(--dark-blue-300);
}

.form_frase::placeholder {
  color: var(--dark-blue-300);
  font-size: 2.4rem;
  font-family: var(--ff-inter);
}

.form_frase:focus {
  outline: 2px solid var(--dark-blue-300);
}

.form_sugerencia {
  width: 34.3rem;
  height: 1.6rem;
  display: none;
  align-items: center;
  margin: 0 auto 1.6rem;
}

.form_parrafo {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--gray-400);
}

.form_icon {
  margin-right: .8rem;
}

.btn_container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btn {
  width: 34.3rem;
  border: none;
  border-radius: 2.4rem;
  font-size: 1.6rem;
  padding: 2.4rem;
  margin: 0 auto;
  cursor: pointer;
}

.btn-encriptar {
  background-color: var(--dark-blue-300);
  color: var(--white);
}

.btn-desencriptar {
  background-color: var(--light-blue-100);
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.copyright {
  line-height: 3.2rem;
}

.links_container {
  display: flex;
  gap: 2rem;
  margin-top: 3.2rem;
}

a .bx {
  font-size: 2.4rem;
  color: var(--dark-blue-300);
}

/*div mostraran dependiendo de la accion del usuario */
.desencriptar {
  background-color: var(--white);
  border-radius: 3.2rem;
  padding: 4.2rem;
  margin: 0 auto 4.2rem;
  text-align: center;
  box-shadow: 0 24px 32px rgba(69, 26, 169, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Mensaje cuando el usuario no ingrese un texto */
.desencriptar_mensaje {
  width: 26.3rem;
  display: none;
  flex-direction: column;
  gap: 3.3rem;
}

.desencriptar_mensaje_img-muñeco {
  display: none;
}

.desencriptar_mensaje_titulo {
  color: var(--gray-500);
  font-size: 2.4rem;
}

.desencriptar_mensaje_parrafo {
  color: var(--gray-400);
  font-size: 1.6rem;
}

/* Mensaje encriptado */
.desencriptar_resultado {
  width: 27.9rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.frase-encriptada {
  font-size: 2.4rem;
  font-family: var(--ff-inter);
  color: var(--gray-400);
  background-color: var(--white);
  border: none;
  resize: none;
  padding: 1.6rem;
  caret-color: var(--gray-400);
  overflow-y: auto;
}

.btn-copiar {
  width: 100%;
  background-color: var(--white);
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
}

@media screen and (min-width: 1201px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 144.0rem;
    margin: 0 auto;
  }

  .main_container {
    flex-direction: row;
    max-height: 100vh;
    position: relative;
    gap: 10rem;
  }

  .header {
    position: absolute;
    top: 4rem;
    left: 1.6rem;
    width: 12rem;
  }
  
  .logo {
    top: 0;
    left: 0;
  }

  .form {
    margin-top: 16.8rem;
  }

  .form_frase,
  .form_sugerencia, 
  .btn_container {
    width: 62.8rem;
  }

  .form_frase {
    height: 26.9rem;
  }

  .btn_container {
    flex-direction: row;
    margin-bottom: 8rem;
  }

  .desencriptar_mensaje_img-muñeco {
    display: inline-block;
  }

  .desencriptar {
    width: 40rem;
    margin:  4rem 4rem 4rem 0;
  }

  .desencriptar_mensaje {
    width: 33.6rem;
    display: flex;
  }

  .desencriptar_resultado {
    width: 33.6rem;
    height: 100%;
    display: none;
  }

  .frase-encriptada {
    height: 100%;
  }

  .footer {
    width: 100%;
    background-color: #f4f066;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
  }
}
